@import "tailwindcss"; 

 

body{
    background-color: #ffffff
}


.swiper {
  width: 100%;
  height: 400px; /* Defina a altura exata ou aproximada do seu slide */
  visibility: hidden; /* Mantém o espaço reservado mas esconde o conteúdo feio */
}

/* Mostra o swiper assim que o JS aplicar a classe de inicialização */
.swiper-initialized {
  visibility: visible;
}